body {
	background-image: url("http://previews.123rf.com/images/lonely11/lonely111210/lonely11121000040/16040719-Background-with-colorful-rails--Stock-Vector-train-railroad-track.jpg")
}

.img.center {
	display: block;
	margin: 0 auto
}